---
---
@charset "utf-8";
@import "base";

section {
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2 {
        margin-top: 0;
    }
}

section:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: yellow;
    z-index: -1;

    > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    > div {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    h1 {
        font-size: 3em;
        letter-spacing: -.01em;
        margin: 0;
        line-height: 1;
        font-weight: 400;
        padding: 0;
        color: $body-color;
    }
    h2 {
        font-size: 1.5em;
        margin-top: 1rem;
        line-height: 1.2;
        font-weight: 400;
        padding: 0;
        color: $body-color;
    }
}
section:nth-of-type(2) {
    margin-top: calc(100vh - 4rem);
}

section#media {
    background: linear-gradient(to right, #7f0e1d88, #7f0e1dff);
    a {
        color: $lighter-color;
        &:hover {
            color: $lightest-color;
        }
    }
}

#image-gallery {
    margin-bottom: 3rem;
}
.download {
    font-family: $form-placeholder-font;
    text-decoration: none;

    display: inline-block;

    font-size: .9rem;
    letter-spacing: .1em;
    text-transform: uppercase;

    border: 1px solid $dark-color;
    border-radius: 5em;
    padding: .4em 1.6em;
    background-color: $light-color;
    color: $dark-color;
    &:hover {
        background-color: $accent-color;
        border-color: $accent-color;
        color: $lightest-color;
    }
    &, &:hover {
        transition: color $animation-length, border-color $animation-length, background-color $animation-length;
    }
}

figure {
    @include standard-block-behavior;
    aspect-ratio: 1.8;
    iframe {
        width: 100%;
        height: 100%;
    }
}

section#contact-me {
    text-align: center;
    form > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.more {
    margin-top: 2rem;
    font-size: .9em;
}

#image-gallery {
    @include standard-block-behavior;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem 1%;
    a {
        display: block;
        width: 24%;
        height: 24%;
    }
    img {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}
@import "lightbox";
