---
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{%- include head.html -%}
<body class="
{%- if layout.body-class or page.body-class -%}
    {{ layout.body-class }} {{ page.body-class }}
{%- endif -%}
    ">
{% unless page.no-header %}{% include header.html %}{% endunless %}
<main>
{{ content }}
</main>
<footer>
&copy; {{ "now" | date: "%Y" }} {{ site.title }}
</footer>
{%- if page.end-of-body-script -%}
<script>
{%- include {{ page.end-of-body-script }} -%}
</script>
{%- endif -%}
</body>
</html>
